@import "./variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: $main-text-col;
}

li {
    list-style: none;
}
