// COLORS
$main-text-col: white;
$secondary-text-col: #737a7a;
$button-col: #dc0510;
$main-bg-col: black;
$secondary-bg-col: rgba(0,0,0, 0.9);

// TYPOGRAPHY
$main-font: 'Merriweather Sans', sans-serif;